[alias]
  lg = log --graph --oneline --decorate=full --branches --tags --remotes
[core]
	editor = vim
	quotepath = false
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[include]
  path = .gitconfig.local
[ghq]
	root = /src
[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false

