[Desktop Entry]
Name=MetaEditor 4
Exec=env WINEPREFIX="//.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix //.wine/dosdevices/c:/users/Public/Desktop/MetaEditor\\ 4.lnk
Type=Application
StartupNotify=true
Path=//.wine/dosdevices/c:/Program Files/Big Boss MetaTrader 4
StartupWMClass=metaeditor.exe
